.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-header h1 {
    margin: 0;
    color: #333;
}

.profile-details {
    width: 100%;
    margin-bottom: 20px;
}

.profile-details p {
    margin: 10px 0;
    color: #555;
}

.profile-details strong {
    color: #333;
}

.profile-scores {
    width: 100%;
}

.profile-scores h2 {
    margin-top: 0;
    color: #333;
}

.profile-scores ul {
    list-style-type: none;
    padding: 0;
}

.profile-scores li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
}

.custom-button {
    padding: 10px 20px;
    background-color: #04AA6D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
}

.custom-button:hover {
    background-color: #45a049;
}
